@import url('https://fonts.googleapis.com/css2?family=Inder&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inder', sans-serif;
}

button, a{
    cursor: pointer;
}

.App{
    background-color: #e8eefe;
    height:100vh;
    width:100vw;
}

/* Styles for desktop devices. */


.login{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:30px;
    height:100vh;
    width: 100vw;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 40%;
}

.header > img{
    width:400px;
}

.login-form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width:370px;
}

.login-form > input{
    width:100%;
    margin-block:8px;
    border: none;
    border-radius: 5px;
    height:40px;
    font-size:15px;
    padding-inline:12px;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s;
}

.login-form > p{
    font-size: 15px;
    margin-left: auto;
    cursor: pointer;
}

.login-form > button{
    width:100%;
    height:40px;
    color:white;
    background-color: #4446E9;
    border:none;
    border-radius: 5px;
    margin-block:12px;
    font-size:15px;
    text-transform: uppercase;
}

.for-mobile{
    display: none;
}

.for-desktop{
    margin-block:15px;
    text-align: center;
}

.for-desktop > h1{
    font-size:50px;
}
.for-desktop > p{
    font-size:15px;
}

.form-links{
    display: flex;
    justify-content: space-between;
    width: 98%;
    margin-block:2px;
}

.form-links > p{
    font-size: 15px;
    cursor: pointer;
    font-weight: 500;
    color:#000000;
}

/*Admin page*/

.admin{
    height: 100%;
}

.profile{
    display: flex;
    justify-content: space-between;
    align-items:center;

    padding: 40px 20px 30px;
}

.profile > .details{
    display: flex;
    align-items: center;
    gap:10px;
    font-size:18px;
}

.profile > .functions{
    display: flex;
    gap:15px;
}

.profile img{
    height:30px;
}

.task-board{
    background-color: #fe7265;
    height: 80vh;
    width:60%;
    margin:auto;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:15px;

    overflow:auto;
}

.task-board .header{
    color:white;
    font-size:30px;
    padding-bottom:15px;
}

.add-icon{
    position: absolute;
    top:20px;
    right:4%;
    cursor: pointer;
}

.task{
    background-color: white;
    width:95%;
    margin-block:13px;
    padding:10px 20px;
    border-radius:8px;
    
    display: flex;
    justify-content: space-between;

    cursor: pointer;
}

/*Add Manager*/

.add-manager-form{
    display: flex;
    flex-direction: column;
    height:100%;
    width:90%;
    justify-content: center;
}

.add-manager-form > input{
    margin-block:10px;
    height:40px;
    border:none;
    border-radius: 5px;
    padding-inline:10px;
}

.add-manager-form > button{
    height:40px;
    color:white;
    border: none;
    background-color: #4446E9;
    border-radius: 5px;
    margin-block:15px;
    text-transform: uppercase;
}

.no-managers{
    color:white;
    font-size:25px;
}

.task-header{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    color:white;
    padding-block:10px;
}

.task-header > p{
    font-size:19px;
}